a{
    color: $dark;
}
.mail-btn{
    border: 1px solid $gray-400;
    border-radius: 2px;
}

.page-link .material-icons{
  color: $primary;
  &:hover{
    color: white;
  }    
}
.page-item{
    width: 32px;
    height: 32px;
}
.admin-photo{
    width: 141px;
    height: 141px;
    object-fit: cover;
    border-radius: 2px;
}
.admin-items{
    width: 320px;
    height: 141px;
}